In [1]:
import pandas as pd
import requests as req
import random

In [2]:
us_postal_codes = pd.io.parsers.read_csv('us_postal_codes.csv', dtype={'Zip Code': 'str'})

In [3]:
us_postal_codes_df = pd.DataFrame(us_postal_codes)
us_postal_codes_df.rename(columns = {"State.1": "State Abbreviation", "State Abbreviation": "County"}, inplace=True)
us_postal_codes_df.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,00501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,00544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,01001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,01002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,01003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [4]:
# Lists for DataFrame
zip_code = []
place_name = []
state = []
state_abb = []
county = []
lat = []
lng = []

In [5]:
# Range of random numbers to chose from
a = range(40933)

while len(zip_code) < 200:
    
    # Get a random index number
    b = a[random.randint(0,len(a))]
    
    city = us_postal_codes_df.iloc[b,:]
    
    # Appending data
    zip_code.append(city['Zip Code'])
    place_name.append(city['Place Name'])
    state.append(city['State'])
    state_abb.append(city['State Abbreviation'])
    county.append(city['County'])
    lat.append(city['Latitude'])
    lng.append(city['Longitude'])

In [6]:
cities = {
    "Zip Code": zip_code,
    "City Name": place_name,
    "State": state,
    "State Abbreviation": state_abb,
    "County": county,
    "Latitude": lat,
    "Longitude": lng
}

In [7]:
cities_df = pd.DataFrame(cities)

In [8]:
cities_df

,City Name,County,Latitude,Longitude,State,State Abbreviation,Zip Code
0,Mellen,Ashland,46.3007,-90.6552,Wisconsin,WI,54546
1,Sulphur,Calcasieu,30.2190,-93.3639,Louisiana,LA,70663
2,Washington,District of Columbia,38.8933,-77.0146,District of Columbia,DC,20069
3,Norman,Montgomery,34.4596,-93.6743,Arkansas,AR,71960
4,Walters,Cotton,34.3605,-98.3140,Oklahoma,OK,73572
5,Winona,Montgomery,33.4858,-89.7277,Mississippi,MS,38967
6,Niagara Falls,Niagara,43.0945,-79.0567,New York,NY,14302
7,Midland,Midland,43.6473,-84.3873,Michigan,MI,48686
8,Julian,Centre,40.8917,-77.9332,Pennsylvania,PA,16844
9,Grouse Creek,Box Elder,41.7094,-113.8833,Utah,UT,84313
10,Geneva,Fillmore,40.5277,-97.6096,Nebraska,NE,68361
11,Lynden,Whatcom,48.9372,-122.4592,Washington,WA,98264
12,Raysal,McDowell,37.3244,-81.7614,West Virginia,WV,24879
13,Welcome,Martin,43.6705,-94.5886,Minnesota,MN,56181
14,Hume,Bates,38.0900,-94.5838,Missouri,MO,64752
15,Chino,San Bernardino,33.9540,-117.6404,California,CA,91708
16,Jackson,Hinds,32.3700,-90.1738,Mississippi,MS,39206
17,Nantucket,Nantucket,41.2725,-70.0932,Massachusetts,MA,02554
18,Lebanon,Hunterdon,40.6466,-74.8290,New Jersey,NJ,08833
19,Bonesteel,Gregory,43.0695,-98.9880,South Dakota,SD,57317
20,Cardington,Morrow,40.5066,-82.9337,Ohio,OH,43315
21,Rosebud,Gasconade,38.3853,-91.3974,Missouri,MO,63091
22,Mc Sherrystown,Adams,39.8010,-77.0229,Pennsylvania,PA,17344
23,Lucan,Redwood,44.4132,-95.4119,Minnesota,MN,56255
24,Spearman,Hansford,36.1927,-101.1952,Texas,TX,79081
25,Rippey,Greene,41.9257,-94.2132,Iowa,IA,50235
26,Saint Libory,Howard,41.0867,-98.3589,Nebraska,NE,68872
27,Clinton,Big Stone,45.4577,-96.4182,Minnesota,MN,56225
28,Jacksonville,Duval,30.2908,-81.6321,Florida,FL,32207
29,New Hartford,Butler,42.5831,-92.6164,Iowa,IA,50660
...,...,...,...,...,...,...,...
170,Lake Alfred,Polk,28.0895,-81.7271,Florida,FL,33850
171,Magness,Independence,35.6941,-91.4753,Arkansas,AR,72553
172,Manchester,Washtenaw,42.1555,-84.0332,Michigan,MI,48158
173,Bennington,Bennington,42.8827,-73.1923,Vermont,VT,05201
174,Whiting,Lake,41.6787,-87.5005,Indiana,IN,46394
175,Richville,St. Lawrence,44.4400,-75.3777,New York,NY,13681
176,South Charleston,Kanawha,38.3684,-81.6996,West Virginia,WV,25309
177,Erie,Erie,42.1553,-80.0177,Pennsylvania,PA,16511
178,Husser,Tangipahoa,30.6920,-90.3390,Louisiana,LA,70442
179,Murdock,Cass,40.9190,-96.2848,Nebraska,NE,68407
180,Rockport,Knox,44.1888,-69.0901,Maine,ME,04856
181,Padroni,Logan,40.8842,-103.3728,Colorado,CO,80745
182,Seneca,La Salle,41.3152,-88.6100,Illinois,IL,61360
183,Graymont,Livingston,40.8757,-88.7817,Illinois,IL,61743
184,Green Valley Lake,San Bernardino,34.2348,-117.0660,California,CA,92341
185,Middletown,Des Moines,40.8296,-91.2631,Iowa,IA,52638
186,Sandstone,Pine,46.1325,-92.5890,Minnesota,MN,55072
187,Laurel,Jones,31.6823,-89.0406,Mississippi,MS,39442
188,Batchelor,Pointe Coupee,30.8298,-91.6944,Louisiana,LA,70715
189,Dallas,Dallas,32.7673,-96.7776,Texas,TX,75381
190,Altenburg,Perry,37.6279,-89.5745,Missouri,MO,63732
191,Eastlake,Lake,41.6587,-81.4445,Ohio,OH,44095
192,Franklin,Merrimack,43.4426,-71.6491,New Hampshire,NH,03235
193,Christiana,Lancaster,39.9040,-76.0401,Pennsylvania,PA,17509
194,Saint Marks,Wakulla,30.1631,-84.2083,Florida,FL,32355
195,Shasta Lake,Shasta,40.6579,-122.4273,California,CA,96089
196,De Berry,Panola,32.2543,-94.1356,Texas,TX,75639
197,Van Nuys,Los Angeles,34.1781,-118.4574,California,CA,91411
198,Hazleton,Luzerne,40.9506,-76.0487,Pennsylvania,PA,18202
199,El Paso,El Paso,31.6948,-106.3000,Texas,TX,88538

In [9]:
cities_df.to_csv("random_cities.csv", index=False)