In [1]:
import pandas as pd
import requests as req
import csv
import json

In [2]:
county_codes = pd.read_csv("Outputs/county_data.csv", dtype={'STATEFP':'str','COUNTYFP':'str'})
city_codes = pd.read_csv("Outputs/national_data.csv", dtype={'City FP':'str', 'State FP':'str'})

In [3]:
county_df = pd.DataFrame(county_codes)
city_df = pd.DataFrame(city_codes)

In [7]:
county_df.head()

  STATE STATEFP COUNTYFP          COUNTY
0    AL      01       01  Autauga County
1    AL      01       03  Baldwin County
2    AL      01       05  Barbour County
3    AL      01       07     Bibb County
4    AL      01       09   Blount County

In [9]:
city_df.head()

              City City FP            County State State FP Count FP
0       Abanda CDP   00100   Chambers County    AL       01
1   Abbeville city   00124      Henry County    AL       01
2  Adamsville city   00460  Jefferson County    AL       01
3     Addison town   00484    Winston County    AL       01
4       Akron town   00676       Hale County    AL       01