In [1]:
import pandas as pd
import requests as req
import random

In [2]:
us_postal_codes = pd.io.parsers.read_csv('us_postal_codes.csv', dtype={'Zip Code': 'str'})

In [3]:
us_postal_codes_df = pd.DataFrame(us_postal_codes)
us_postal_codes_df.rename(columns = {"State.1": "State Abbreviation", "State Abbreviation": "County"}, inplace=True)
us_postal_codes_df.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,00501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,00544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,01001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,01002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,01003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [4]:
# Lists for DataFrame
zip_code = []
place_name = []
state = []
state_abb = []
county = []
lat = []
lng = []

In [9]:
# Range of random numbers to chose from
a = range(40933)

while len(zip_code) < 200:
    
    # Get a random index number
    b = a[random.randint(0,len(a))]
    
    city = us_postal_codes_df.iloc[b,:]
    
    # Appending data
    zip_code.append(city['Zip Code'])
    place_name.append(city['Place Name'])
    state.append(city['State'])
    state_abb.append(city['State Abbreviation'])
    county.append(city['County'])
    lat.append(city['Latitude'])
    lng.append(city['Longitude'])

In [10]:
cities = {
    "Zip Code": zip_code,
    "City Name": place_name,
    "State": state,
    "State Abbreviation": state_abb,
    "County": county,
    "Latitude": lat,
    "Longitude": lng
}

In [11]:
cities_df = pd.DataFrame(cities)

In [12]:
cities_df

,City Name,County,Latitude,Longitude,State,State Abbreviation,Zip Code
0,Flushing,Queens,40.7721,-73.8735,New York,NY,11371
1,Payson,Gila,34.2198,-111.2878,Arizona,AZ,85541
2,Pine Village,Warren,40.4328,-87.2317,Indiana,IN,47975
3,North Chili,Monroe,43.1186,-77.8005,New York,NY,14514
4,Ehrhardt,Bamberg,33.1044,-81.0221,South Carolina,SC,29081
5,Blanford,Vermillion,39.6650,-87.5206,Indiana,IN,47831
6,Honolulu,Honolulu,21.3095,-157.8630,Hawaii,HI,96850
7,Pittsburgh,Allegheny,40.3323,-80.0810,Pennsylvania,PA,15241
8,Conway,Faulkner,35.0823,-92.4683,Arkansas,AR,72034
9,Chicopee,Hampden,42.1934,-72.5544,Massachusetts,MA,01022
10,Wilton,Monroe,43.8322,-90.5162,Wisconsin,WI,54670
11,Labelle,Hendry,26.7321,-81.4340,Florida,FL,33935
12,Iola,Allen,37.9245,-95.4000,Kansas,KS,66749
13,El Paso,El Paso,31.6948,-106.3000,Texas,TX,88515
14,Scotia,Hampton,32.6786,-81.2455,South Carolina,SC,29939
15,Gladewater,Gregg,32.5559,-94.9320,Texas,TX,75647
16,Milnesville,Luzerne,40.9961,-75.9815,Pennsylvania,PA,18239
17,Chichester,Grafton,43.2440,-71.4105,New Hampshire,NH,03258
18,Lakeshore,Polk,27.9660,-81.6965,Florida,FL,33854
19,Humboldt,Kittson,48.9211,-97.0934,Minnesota,MN,56731
20,Melbourne,Brevard,28.0836,-80.6081,Florida,FL,32919
21,Peoria,Maricopa,33.5806,-112.2374,Arizona,AZ,85385
22,Livermore,McLean,37.5045,-87.1239,Kentucky,KY,42352
23,North Pembroke,Plymouth,42.0932,-70.7925,Massachusetts,MA,02358
24,Shreveport,Caddo Parish,32.6076,-93.7526,Louisiana,LA,71102
25,Advance,Davie,36.0065,-80.4463,North Carolina,NC,27006
26,Mesa,Maricopa,33.4663,-111.8373,Arizona,AZ,85211
27,Lockridge,Jefferson,41.0119,-91.7645,Iowa,IA,52635
28,San Francisco,City and County of San Francisco,37.7749,-122.4194,California,CA,94188
29,Birmingham,Jefferson,33.5446,-86.9292,Alabama,AL,35253
...,...,...,...,...,...,...,...
171,Conrath,Rusk,45.3533,-91.0621,Wisconsin,WI,54731
172,Groveton,Trinity,31.0651,-95.0969,Texas,TX,75845
173,Lutz,Hillsborough,28.1474,-82.5152,Florida,FL,33558
174,Springfield,Sangamon,39.7495,-89.6060,Illinois,IL,62763
175,Columbus,Lowndes,33.5508,-88.4865,Mississippi,MS,39705
176,Hondo,Lincoln,33.3876,-105.2708,New Mexico,NM,88336
177,Arkville,Delaware,42.1417,-74.5721,New York,NY,12406
178,Mehoopany,Wyoming,41.5587,-76.1035,Pennsylvania,PA,18629
179,West Hartford,Hartford,41.7556,-72.7532,Connecticut,CT,06107
180,Leander,Williamson,30.5835,-97.8575,Texas,TX,78641
181,Bruin,Butler,41.0571,-79.7291,Pennsylvania,PA,16022
182,Ahsahka,Clearwater,46.5394,-116.3233,Idaho,ID,83520
183,Stantonsburg,Wilson,35.5940,-77.8378,North Carolina,NC,27883
184,New Caney,Montgomery,30.1579,-95.1980,Texas,TX,77357
185,Westville,Gloucester,39.8605,-75.1323,New Jersey,NJ,08093
186,Waupun,Dodge,43.6324,-88.7373,Wisconsin,WI,53963
187,Ridgefield Park,Bergen,40.8562,-74.0230,New Jersey,NJ,07660
188,Reno,Washoe,39.7699,-119.6027,Nevada,NV,89510
189,La Coste,Medina,29.3082,-98.8125,Texas,TX,78039
190,Long Beach,Nassau,40.5877,-73.6595,New York,NY,11561
191,Webster,Monroe,43.2196,-77.4616,New York,NY,14580
192,Rockfall,Middlesex,41.5341,-72.6997,Connecticut,CT,06481
193,Arminto,Natrona,43.1789,-107.2576,Wyoming,WY,82630
194,Hebbronville,Jim Hogg,27.2997,-98.6829,Texas,TX,78361
195,Barker,Harris,29.7844,-95.6849,Texas,TX,77413
196,Kimper,Pike,37.5068,-82.3271,Kentucky,KY,41539
197,Mobile,Mobile,30.7145,-88.0918,Alabama,AL,36617
198,Green Pond,Bibb,33.2027,-87.1180,Alabama,AL,35074
199,Beachwood,Cuyahoga,41.4701,-81.5232,Ohio,OH,44122
200,Repton,Conecuh,31.4256,-87.1720,Alabama,AL,36475